

  
  @media (max-width: 600px){
    .row-horizon {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .row-horizon > [class*="col-lg"], .row-horizon > [class*="col-md"], .row-horizon > [class*="col-sm"], .row-horizon > [class*="col-xs"] {
        float: none;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
    }
    .row-horizon > .col-xs-12 {
        width: 90%;
      }
      .row-horizon > .col-xs-11 {
        width: 82.5%;
      }
      .row-horizon > .col-xs-10 {
        width: 75%;
      }
      .row-horizon > .col-xs-9 {
        width: 67.5%;
      }
      .row-horizon > .col-xs-8 {
        width: 60%;
      }
      .row-horizon > .col-xs-7 {
        width: 52.5%;
      }
      .row-horizon > .col-xs-6 {
        width: 45%;
      }
      .row-horizon > .col-xs-5 {
        width: 37.5%;
      }
      .row-horizon > .col-xs-4 {
        width: 30%;
      }
      .row-horizon > .col-xs-3 {
        width: 22.5%;
      }
      .row-horizon > .col-xs-2 {
        width: 15%;
      }
      .row-horizon > .col-xs-1 {
        width: 7.5%;
      }
      
      
      .card-lb {
        .title {
            font-weight: bold;
            font-size: 12px;
            text-align: center;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 10px;
        }
        .ui-icon {
            display: none;
        }
        .canvas-content{
            margin-left: -45px;
            height: auto;
            width: 400px;
        }
        
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    }

    .margin-sales{
        height: 257px;
    }

    .chart-description{
        text-align: center;
    }

    .pie_chart_custom{
        .canvas-content{
            margin-left: 0px;
            height: auto;
            width: 500px;
        }
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 10px;
            width: 520px;
        }
    }

    .bar_chart{
        .canvas-content{
          margin-left: 0px;
          height: auto;
          width: 600px;
        }
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 10px;
            width: 620px;
        }
    }
    .card-custom {
        .title {
            font-weight: normal;
            font-size: 12px;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 20px;
            box-sizing: border-box;
        }
    
        .canvas-content{
            margin-left: -45px;
            height: auto;
            width: 400px;
        }
        .ui-icon {
            display: none;
        }
    
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    }
  }
  @media (min-width: 600px) {
    .card-lb {
        .title {
            font-weight: normal;
            font-size: 12px;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 10px;
        }
        .ui-icon {
            display: none;
        }
    
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    }
    
    .card-custom {
        .title {
            font-weight: normal;
            font-size: 12px;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 20px;
            box-sizing: border-box;
        }
    
        .canvas-content{
            height: 200px;
        }
        .ui-icon {
            display: none;
        }
    
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    
    }
  }
  @media (min-width: 992px) {    
  .card-lb {
    .title {
        font-weight: normal;
        font-size: 12px;
    }

    .content {
        background: white;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 10px;
    }
    .ui-icon {
        display: none;
    }

    .action-content {
        margin-top: 10px;
        border-top: 1px solid gray;
        padding-top: 10px;
    }
}

.card-custom {
    .title {
        font-weight: normal;
        font-size: 12px;
    }

    .content {
        background: white;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        padding: 20px;
        box-sizing: border-box;
    }

    .canvas-content{
        height: 200px;
    }
    .ui-icon {
        display: none;
    }

    .action-content {
        margin-top: 10px;
        border-top: 1px solid gray;
        padding-top: 10px;
    }
}
  }
  @media (min-width: 1200px) {
    
    .card-lb {
        .title {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 10px;
            margin-bottom: 70px;
        }
        .ui-icon {
            display: none;
        }
    
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    }
    
    .margin-sales{
        height: 257px;
    }

    .chart-description{
        text-align: center;
    }

    .card-custom {
        .title {
            font-weight: normal;
            font-size: 16px;
        }
    
        .content {
            background: white;
            border-radius: 3px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            padding: 20px;
            box-sizing: border-box;
        }
    
        .canvas-content{
            height: 210px;
        }
        .ui-icon {
            display: none;
        }
    
        .action-content {
            margin-top: 10px;
            border-top: 1px solid gray;
            padding-top: 10px;
        }
    
    }
  }
